#form__file {
  display: none;
}

.form {
  width: 100%;
}

.form__file-container {
  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
  margin-bottom: 4.8rem;
}

.form__file-descr {
  max-width: 400px;
  font-size: 1.6rem;
  color: #637283;
}

.form__file-label {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.8rem;
  word-break: break-word;
  cursor: pointer;
}

.form__file-wrapper {
  display: flex;
  padding: 1.4rem;
  width: 16rem;
  border: 1px solid black;
  border-radius: 8px;
  flex-direction: column;
  background-color: white;
  transition: .2s;
}

.form__file-wrapper--active {
  background-color: #2DC100;
  border-color: #2DC100;
}

.form__file-button {
  width: 1.4rem;
  height: 1.4rem;
  aspect-ratio: 1/1;
  position: relative;
  align-self: end;
  justify-self: end;
  cursor: pointer;
  transition: transform .2s;
}

.form__file-button:hover {
  transform: scale(1.1);
}

.form__file-button-topline {
  border-top: 1px solid black;
  width: 100%;
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
}

.form__file-button-bottomline {
  border-top: 1px solid black;
  width: 100%;
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
  transform: rotate(90deg);
  transition: transform .2s;
}

.form__file-button-bottomline.active__filebutton {
  transform: rotate(0);
}

.form__duration-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 8rem;
}

.form__duration-descr {
  font-size: 1.8rem;
  width: 100%;
}

.form__duration-descr.incorrect {
  color: red;
}

.form__duration-wrapper label {
  display: flex;
  width: fit-content;
  font-size: 1.8rem;
  padding: 1.4rem 2rem;
  border: 1px solid #C9CFDD;
  border-radius: 8px;
  cursor: pointer;
  transition: .2s;
}

.form__duration-wrapper label:hover {
  border: 1px solid black;
}

.form__duration-wrapper label:has(input:checked) {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.form__radio-duration {
  display: none;
}

.form__input-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-bottom: 4rem;
}

.form__input-wrapper {
  position: relative;
  display: inline-block;
}

.checkmark {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #2DC100;
  font-size: 1.8rem;
  font-weight: 800;
  display: none;
}

.form__text-input.correct + .checkmark {
  display: inline; /* показать, если input правильный */
}

.form__text-input {
  border: none;
  outline: none;
  border-radius: 0;
  box-shadow: none;
}

.form__text-input {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 1px solid black;
  font-size: 1.8rem;
  color: black;
}

.form__text-input::placeholder {
  color: black;
}

.incorrect.form__text-input::placeholder {
  color: #FF4053;
}

.form__text-input.correct {
  border-bottom: 1px solid #2DC100;
  color: #2DC100;
}

.form__text-input.incorrect {
  border-bottom: 1px solid #FF4053;
  color: #FF4053;
}

.form__conscent-wrapper {
  margin-bottom: 4rem;
}

.form__conscent-label {
  display: flex;
  font-size: 1.6rem;
  color: #637283;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  cursor: pointer;
}

.form__conscent-label.incorrect {
  color: red;
}

.form__conscent-box {
  width: 22px;
  height: 22px;
  aspect-ratio: 1/1;
  border-radius: 2px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__conscent-box.conscent {
  color: white;
  background-color: black;
}

.form__conscent-input {
  display: none;
}

.form__submit-wrapper input {
  padding: 1.4rem 4rem;
  font-size: 1.8rem;
  color: white;
  background-color: black;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color .2s;
  border: 1px solid black;
}

.form__submit-wrapper input:hover {
  background-color: rgb(6, 0, 43);
  border: 1px solid rgb(6, 0, 43);
}

.form__success {
  margin: 14px 0;
  font-size: 1.8rem;
  font-weight: 600;
  color: #2DC100;
}

input:focus {
  outline: none;
  background-color: transparent !important;
  -webkit-tap-highlight-color: transparent;
}

/* Если проблема также с другими элементами (textarea, button) */
textarea:focus, button:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.form-modal__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 60px 0;
  gap: 2rem;
}

.form-modal__left p {
  margin-bottom: auto;
  color: #637283;
  font-size: 1.8rem;
}

.form-modal__left h2 {
  font-size: 6.8rem;
  font-weight: 700;
  margin-bottom: 60px;
  line-height: 6.8rem;
}

.form-modal__left span {
  color: #637283;
  font-size: 1.8rem;

}

@media (max-width: 1366px) {
  .form__wrapper {
    flex-direction: column;
  }
}

@media (max-width: 680px) {
  .form__file-container {
    flex-direction: column;
  }
  .form__input-group {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .form-modal__left {
    gap: 20px;
  }
  .form-modal__left h2 {
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 40px;
  }
  .form__wrapper {
    padding: 30px 0;
  }
  .form__duration-wrapper {
    margin-bottom: 30px;
  }
}

